.content{
    width: 80%;
    margin: auto;  
}
.content-collection{
    border: 1px solid black;
    border-radius: 7px;
    margin: 20px;
    height: max-content;
}
.content-collection h3{
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
    font-weight: 700;
}
#collection{
    display: grid;
    grid-template-columns: auto auto auto;
}
.div-results{
    width: 300px;
    height: max-content;
    margin: 20px auto;
}
.div-results a{
    font-weight: 600;
}
.result-img{
    text-align: center;
}
.result-name{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .content{
        width: 90%;
        margin: auto;
    }
    .content-collection{
        width: 90%;
        margin: auto;
    }
    #collection{
        display: block;
        margin: auto;
    }
}