.content-detail{
    width: 80%;
    margin: auto;
}
.product-details{
    border: 1px solid gray;
    margin: 20px 0;
    justify-content: space-between;
    border-radius: 7px;
}
.product-title{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
}
.product{
    display: flex;
}
.product-images{
    width: 50%;
    margin: auto;
}
.product-images img{
    width: 80%;
    padding: 0 20px;
}

.details{
    width: 50%;
    margin: 20px;
}

.details .product-brand{
    text-transform: capitalize;
    font-size: 17px;
    margin: 7px;
}

.details .product-brand span{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 800;
}

.detail-des{
    border: 1px solid gray;
    border-radius: 7px;
    margin: 20px 0;
    justify-content: space-between;
    padding: 7px 70px;
}
.heading{
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

.des{
    color: black;
    text-indent: 50px;
    font-size: 16px;
    text-align: justify;
}
.baoton{
    font-size: 16px;
    margin: 10px 0;
    text-indent: 50px;
}

.link{
    text-align: center;
    height: 70px;
    line-height: 70px;
  }
  
  .link a{
    color: white;
    width: 150px;
    font-size: 20px;
    background-color: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
  }
  
  .link a:hover{
    color: gray;
  }
.detail-lienquan{
    border: 1px solid gray;
    border-radius: 7px;
    margin: 20px 0;
}
.detail-lienquan .heading{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.lienquan{
    display: flex;
    margin: auto;
    text-align: center;
}
.div-results{
    margin: auto;
    width: 25%;
    margin: 10px 0;
}
.div-results img{
    object-fit: cover;
    width: 180px;
    height: 120px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .product{
        display: block;
        margin: 10px;
    }
    .product-title{
        text-align: center;
    }
    .details{
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .product-images img{
        object-fit: cover;
        cursor: pointer;
        margin: auto;
    }
    .product-images{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    .detail-des{
        margin: 10px;
    }
    .heading{
        text-align: center;
    }
    .lienquan{
        display: block;
    }
    .div-results{
        width: 100%;
    }
}