.content-detail{
    width: 100%;
}
.product-details{
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.product-images{
    width: 50%;
    margin: auto;
}
.product-images img{
    object-fit: cover;
    cursor: pointer;
    width: 500px;
    margin: auto;
    padding: auto;
    display: flex;
}

.details{
    width: 50%;
    margin: 20px;
}

.details .product-brand{
    text-transform: capitalize;
    font-size: 20px;
    margin: 7px;
}
.details .product-brand{
    text-transform: capitalize;
    font-size: 20px;
    margin: 7px;
}
.details .product-brand span{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
}

.detail-des{
    border: 1px solid gray;
    margin: 10px;
    justify-content: space-between;
    padding: 7px 70px;
}
.heading{
    font-size: 30px;
    margin: 15px 0;
}

.des{
    color: black;
    text-indent: 50px;
    font-size: 18px;
}
.baoton{
    font-size: 18px;
    margin: 10px 0;
}

.link{
    text-align: center;
    height: 70px;
    line-height: 70px;
  }
  
  .link a{
    color: white;
    width: 150px;
    font-size: 20px;
    background-color: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
  }
  
  .link a:hover{
    color: gray;
  }

@media screen and (max-width: 768px) {
    .product-details{
        display: block;
        margin: 10px;
    }
    .details{
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .product-images img{
        object-fit: cover;
        cursor: pointer;
        width: 500px;
        margin: auto;
    }
    .product-images{
    width: 100%;
    margin: 20px auto;
    }
    .detail-des{
        margin: 10px;
    }
    .heading{
        text-align: center;
    }
}