.content{
    width: 80%;
    margin: 20px auto;
    display: flex;
}
h3{
    text-align: center;
}
.content-top{
    display: flex;
}
.content-left{        
    width: 80%;
}
.content-introduce{
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.content-user{
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 10px;
    padding: 10px 0;
}
.content-left p{
    font-size: 16px;
    text-align: justify;
    padding: 10px;
}
ul{
    font-size: 16px;
    text-align: justify;
    text-indent: 10px;}
li{
    padding: 5px 10px;
    list-style: none;
    text-indent: 20px;
}
.content-user ul{
    font-size: 15px;
    text-align: justify;
}
.content-user li{
    padding: 5px 0;
    list-style: none;
    text-indent: 20px;
}
#more{
    display: none;
}
#read-more{
    text-align: center;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}
.content-right{
    width: 50%;
}
.content-new{
    border: 1px solid black;
    border-radius: 7px;
    margin: 20px 10px;
    margin-bottom: 20px;
    padding: 10px 0;
}
.content-new a{
    font-weight: 600;
    color: blue;
}
.content-new a:hover{
    color: black;
}
.content-bottom{
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 10px;
    padding: 10px;
}
.content-random{
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.content-trend{
    text-align: center;
    margin: auto;
    display: grid;    
    grid-template-columns: auto auto;
}
.div-results{
    margin: 20px auto;
    width: 230px;
}
.div-results a{
    color: blue;
    font-weight: 600;
}
.div-results a:hover{
    color: black;
    font-weight: 600;
}
.result-img img{
    height: 150px;
    width: 230px;
    object-fit: cover;
}
@media screen and (max-width: 768px) {    
    .content{       
        margin: auto;      
        width: 90%;
    }
    .content-top{
        display: block;
    }
    .content-left{
        width: 100%;
        margin: auto;
    }
     .content-right{
        width: 100%;
        margin: 20px auto;
    }
    .content-trend{
        display: block;
    }
    
}
  