.content{
    display: flex;
}
.content-introduce{
    text-align: justify;
    border: 1px solid gray;
    width: 50%;
    margin: 10px;
    margin-right: 7px;
    padding: 10px;
}
.content-introduce h3{
    text-align: center;
    font-size: 20px;
}
.content-introduce p{
    margin: 15px 20px;
    text-indent: 15px;
    font-size: 16px;
}
.content-introduce ul{
    margin: 15px 20px;
    text-indent: 15px; 
    font-size: 16px;
}
.content-introduce li{
    margin: 15px 20px;
    list-style-type: none;
    text-indent: 25px;
    font-size: 16px;     
}
.content-trend{
    text-align: center;
    border: 1px solid gray;
    width: 50%;
    margin: 10px;
    margin-left: 7px;
    padding: 10px;
    height: max-content;
}
.content-trend h3{
    text-align: center;
    font-size: 20px;
}
.card{
    width: 180px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px;
    background-position: center;
    background-size: cover;
    border: 0.25px solid black;
    transition: transform 0.5s;
}
.card p{
    color: #fff;
    background-color: black;
    margin-top: 100%;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.card1{
    background-image: url(../img/Python\ molurus-LQNgon-001\ -\ Ngôn\ Lâm\ Quang.JPG);
}

.card2{
    background-image: url(../img/Eutropis\ multifasciatus-LQNgon-001\ -\ Ngôn\ Lâm\ Quang.JPG);
}

.card3{
    background-image: url(../img/Hylarana\ erythraea-LQNgon-002\ -\ Ngôn\ Lâm\ Quang.JPG);
}

.card4{
    background-image: url(../img/Hemidactylus\ garnotii-LQNgon-002\ -\ Ngôn\ Lâm\ Quang.JPG);
}

.card:hover{
    transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
    .content{
        display: block;
        margin: 10px;
    }
    .content-introduce, .content-trend{
        margin: 0;
        margin-top: 10px;
        height: max-content;
        width: auto;
    }
}
  